# Django Settings
SECRET_KEY=
DEBUG=True

# PostgreSQL Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Stepik API OAuth2
STEPIK_CLIENT_ID=
STEPIK_CLIENT_SECRET=

# Alem AI LLM API
ALEM_API_KEY=